.products {
  width: 100%;
  margin-left: -20rem;
 
}
 
 .products-title {
    position: relative;
    top: 13rem;
    left: 7%;
    text-align: center;
    letter-spacing: -2px;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  }
  
  .products-title span {
    margin-top: -40px;
  }
  .products-card {
    position: relative;
    top: 16rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden; 
    cursor: grab;
    gap: 95px;
    padding: 20px;
    user-select: none;
    margin-left: 20rem;
  }
  
  .product-card-item {
    flex: 0 0 auto;
    width: 300px;
    text-align: center;
  }
  
  
  .product-card-item img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .product-card-item img:hover {
    transform: translate(0px, -13px);
  }
  
  .product-card-item h5 {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .product-card-item span {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }
  
  .product-btn {
    position: relative;
    top: -105rem;
    display: flex;
    justify-content: center;
  }
  
  .product-btn a {
    border-radius: 10px;
    padding: 15px;
    width: 180px;
    background-color:#c8ec66;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: black;
    transition: color 0.3s ease;
  }
  

  .product-btn a span {
    position: relative;
    z-index: 2;
  }
  

  .product-btn a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#c3e763;
    z-index: 0;
    transition: top 0.3s ease;
  }
  
  .product-btn a:hover::before {
    top: 0;
  }
  
  .product-btn a:hover {
    color: white;
  }
   
  .search-form-1 {
    display: none;
  }
  
  .background-repeat {
    background: url("assets/fixed-images/pexels-steve-13129482.jpg") repeat fixed 100%;
    position: relative;
    top:-90rem;
    left: -20rem;
    padding: 40%;
    padding-bottom: 12%;
    width: 200rem;
  }

  .fixed-content {
    position: absolute;
    left: 30rem;
    top: 10rem;
    width: 30rem;
  }

  .fixed-text {
    color: rgb(255, 255, 255);
    font-size:xx-large;

  }

  .john-text {
    color: rgb(99, 98, 98);
    margin-top: 6%;
  }

  .fixed-img {
   position: absolute;
   top: 1rem;
   left: 60rem;

  }

  .fixed-img img {
    transform: scale(0.8);
  }

  .fixed-link {
    position: relative;
    top:2rem;
    background-color: rgb(201, 248, 73); /* base green */
    color: black;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  
  .fixed-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: rgb(170, 226, 51); /* darker green */
    z-index: -1;
    transition: height 0.4s ease;
    border-radius: 8px;
  }
  
  .fixed-link:hover::before {
    height: 100%;
  }
  
  .new-service {
    position: relative;
    top:-85rem;
    left:-7rem;
  }

  .new-service h2 {
    font-size: 80px;
     margin-left: 9rem;
  }

  .new-service span {
    color: #C5C1BD; 
    font-size: 80px;
  }

  .header {
    margin-left: 6rem;
  }
  
  .new-imgs {
    position: relative;
    left: -10rem;
    top: 5rem;
    display: flex;
    gap: 200px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .blog-item {
    width: 500px;
  }
  
  .blog-item img {
    width: 100%;
    border-radius: 16px;
    clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
  }
  
  .january-content {
    margin-top: 20px;
    color: rgb(131, 128, 128);
    background-color: rgba(246, 245, 245, 0.916);
    width: fit-content;
    padding: 8px;
    border-radius: 7px;
  }
  
  .content h3 {
    margin: 10px 0 5px;
    color: black;
  }
  
  .content p {
    color: #333;
    font-size: 15px;
  }
  
  .buble{
    height: 50rem;
    position: relative;
    top: -63rem;
  }

  .buble img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  .buble-container {
    background-color: white;
    position: absolute;
    left:35rem;
    top:16%;
    font-size:40px;
    height: 490px;
    width: 600px;
    border-radius: 10px;
  }
  
  .buble-div {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .discount-number {
    font-weight: bold;
  }
  
  .off {
    background-color: rgb(185, 229, 11);
    border-radius: 8px;
    font-size: 35px;
    padding: 5px 10px;
    display: inline-block;
    transform: rotate(-4deg);
  }
  

  .hr {
    width: 80%;              
    margin: 30px auto;     
    height: 1px; 
    background-color: #ccc;
  }
  
  .input-text {
    display: flex;
    margin-left:25px;
    gap: 10px;
    margin-top: 35px;
  }

  .text-holder {
    background-color: rgba(242, 242, 242, 0.969);
    opacity: 2;
    border: none;
    border-radius: 6px;
    margin-left:25px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    outline: none;
  }

  .text-holder:focus {
    background-color: white;
    border: 1px solid rgb(153, 255, 0);
    box-shadow: 0 0 5px rgba(153, 255, 0, 0.4);
  }

  .subscribe {
    font-size: 13px;
    color: black;
    background-color: rgb(185, 229, 11);
    padding: 23px;
    position: relative;
    top: -2px;
    border-radius: 8px;
    transition: background-color,0.7s ;
    cursor: pointer;
 }

 .subscribe:hover {
  background-color: rgba(167, 229, 11, 0.824);
 }
 
 .text-holder::placeholder {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: -8px;
  left: 7px;
}

.contact{
  position: relative;
  top:-63rem;
  background-color: rgb(26, 25, 25);
  height:450px;
}

.contact-content {
  position: relative;
  left: -2rem;
}

.contact-icon {
  display: flex;
  position: absolute;
  top:13rem;
  left: 20rem;
  width: 300px;
  height: 40%;
  gap: 20px;
}

.contact-img-icon {
  background-color: rgb(58, 57, 57);
  padding: 13px;
  transform: scale(1.7);
  border-radius: 7px;
}

.h4-contact {
  width: 180px;
  margin-left: 20px;
  margin-top: -20px;
  text-align: start;
  
}

.h4-contact h4 {
  width:180px;
  color: white;
}

.person-contact {
  position: absolute;
  left: 50rem;
  width: 400px;
  height: 100%;
}

.person-contact img {
   width: 62%;
   height: 300px;
   border-radius: 16px;
   clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
   position: absolute;
   top: 5rem;
   left: -3rem;
}

.contact-details {
  position: relative;
  left: 75rem;
  top: 10rem;
  color: rgba(255, 255, 255, 0.455);
}

.number {
  font-size: 32px;
  color: rgb(183, 230, 43) ;
  cursor: pointer;
}

.subscribe-contact {
  position: relative;
  top: 2rem;
  background-color: #333;
  padding: 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: opacity 0.6s;
}

.subscribe-contact:hover {
  opacity: 0.7
}

.support {
  display: flex;
  opacity: 0;
  transform: translateX(-250px);
  transition: all 1.5s ease;
  margin-top: -5rem;
  position: relative;
  top: -2rem;
  padding: 0 1rem;
}

.support.animate2 {
  opacity: 1;
  transform: translateX(0);
}

.support-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0 1rem;
  position: relative;
  bottom:500rem;
}

.support-box {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  top: -43rem;
  left: 8rem;
  margin-left: 60px;
}

.support-box img {
  width: 90px;
  border-radius: 10px;
  border-style: groove;
  border-color: rgb(0, 0, 0);
  padding: 20px;
}


.support-text h5 {
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  margin: 0;
}

.support-text div {
  font-size: 0.9rem;
  color: #555;
}


  
.horizontal {
  color: rgb(183, 183, 183);
  position: relative;
  top: -35rem;
}

.footer-section {
  position: relative;
  top: -90rem;
}

.footer-div-1 {
  position: relative;
  top: 63rem;
  left: 15rem;
}

.span-footer {
  font-size:x-large;
}

.span-footer:hover {
  color: #c8ec66;
  cursor: pointer;
}

.footer-paragraph {
  color: #6F7675;
  max-width:280px;
  position: absolute;
  top: 7rem;
}

.icons {
  position: relative;
  top: 8rem;
  
}

.icons a {
  color: black;
  height: 200px;
  background-color: #f1eeeef0;
  padding: 13px;
  border-radius: 12px;
  margin-right: 4px;
  margin-left: 3px;
  
  
}

.icons a:hover {
  background-color: #191919;
  color:  #c8ec66;
}

.middle-footer {
  position: relative;
  top:55rem;
  left: 50rem;
}

.footer-list {
  position: absolute;
  top: 4rem;
  left: -2rem;
}

.footer-list ul {
  list-style-type: none;
}

.footer-list ul li {
  margin-bottom: 17px;
  color: #6F7675;
}

.footer-list ul li:hover {
  margin-bottom: 17px;
  color:#c8ec66;
  text-decoration: underline;
}


.footer-list ul li a:hover {
  cursor: pointer;
}

.end-footer {
  position: relative;
  top: -1rem;
  left: 30rem;
}

.horizontal-footer {
  position: relative;
  top: -18rem;
  color: rgb(0, 0, 0);
}

.wordpress-footer div {
  margin-bottom: 200px;
  color: #6F7675;
}

.wordpress-footer {
  height: 1px;
  padding-bottom: -100px;
}



.wordpress {
  position: relative;
  top: -18rem;
  left: -7rem;
  display: flex;
  justify-content: center;
  display: flex;  
  height: 3%;
}

.wordpress-footer.div {
  margin-left: 100px;
  margin-right: 3.3px;
  display: flex;
  justify-content: space-between;
}

.wordpress-footer.anchor-footer:hover {
  cursor: pointer;
  color:#c8ec66;
  text-decoration: underline;
}

.anchor-footer a:hover {
  color: #c8ec66;
  text-decoration: underline;
}

.side-web {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  position: fixed;
  margin-left: 96%;
  top: 50%;
  cursor: pointer;
}

.side-web1 {
  background-color: black;
  padding: 7px;
  border-radius: 2px;
}

.side-web1 span{
  animation: inf 2.5s ease-in-out infinite;
}

.num {
  position:absolute;
  left: 13px; 
  font-size: large; 
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 7px;
}

@keyframes inf {
  0% {
    color: white;
  }
  50% {
    opacity: 0.95;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    color: white;
  }
}

.side-shopping-div {
  background-color: #80b541;
  margin-top: 5px;
}

.side-shopping-div img {
  height: 40px;
}

.twitter-icon svg {
  transition: fill 0.3s;
  fill: black;
  height: 16px;
  position: relative;
  left: 7px;
}

.twitter-icon:hover svg {
  fill: #c8ec66;
  background-color: #191919; /* if you still want the background */
}




